.header {
  padding: 60px 0;
  width: 1515px;
  position: fixed;
  z-index: 100;

  margin: 0 187px 0 240px;

  .header__content {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    ul {
      li {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 30px;
        }

        a {
          transition: all 0.8s ease 0s;
        }
      }
    }
  }
}
