.project {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;

  .intro {
    width: 100vw;
    height: 100vh;
    margin-bottom: 141px;

    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }

    .fonts-bodyLarge {
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    }

    .fonts-bodyLarge._active {
      opacity: 1;
    }

    h1 {
      position: absolute;
      color: $white;
      white-space: nowrap;
      left: -170px;
      bottom: -75px;

      @media screen and (max-width: 767px) {
        bottom: -20px;
        left: -43px;
      }
    }

    h2 {
      color: $white;
      grid-column: 3 / 8;
      margin-top: 21vh;
      margin-left: 18px;
      position: absolute;

      @media screen and (max-width: 1020px) {
        grid-column: 3 / 18;
        margin-top: 80px;
      }

      @media screen and (max-width: 767px) {
        width: 170px;
      }
    }

    .secondImage {
      grid-column: 12 / 18;
      width: 100%;
      height: 582px;
      background-size: cover;
      background-position: center center;
      position: absolute;
      margin-top: 25vh;
      transform-origin: left center;
      transition: all 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;


      @media screen and (max-width: 1170px) {
        height: 459px;
        margin-top: 35vh;
      }

      @media screen and (max-width: 1020px) {
        height: 386px;
        margin-top: 42vh;
      }

      @media screen and (max-width: 820px) {
        height: 383px;
        margin-top: 42vh;
      }

      @media screen and (max-width: 767px) {
        margin-top: 35vh;
        margin-left: 50px;
        width: 260px;
      }
    }

    .firstImage {
      grid-column: 10 / 16;
      height: 582px;
      background-size: cover;
      background-position: center center;
      margin-top: 13vh;
      position: absolute;
      width: 100%;
      transform-origin: center center;


      @media screen and (max-width: 1170px) {
        height: 459px;
        margin-top: 23vh;
      }

      @media screen and (max-width: 1020px) {
        height: 386px;
        margin-top: 30vh;
      }

      @media screen and (max-width: 820px) {
        height: 383px;
        margin-top: 30vh;
      }

      @media screen and (max-width: 767px) {
        width: 260px;
        margin-top: 0;
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    background-color: $white;
    padding-top: 200px;
    padding-bottom: 200px;
    color: $black;

    a {
      color: $black;
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 77px;
      padding-bottom: 77px;
    }

    .description {
      grid-column: 3 / 9;

      .fonts-linkRegular {
        &:not(:first-of-type) {
          margin-left: 20px;

          @media screen and (max-width: 767px) {
            margin-left: 10px;
          }
        }

        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }

      p:first-of-type {
        color: $black;
      }

      .text {
        margin-top: 145px;
        margin-bottom: 60px;
      }

      @media screen and (max-width: 767px) {
        margin-top: 38px;
        margin-bottom: 31px;
      }
    }

    .tags {
      grid-column: 12 / 18;
      align-self: flex-end;

      @media screen and (max-width: 767px) {
        padding-top: 44px;
      }

      li {
        margin-bottom: 5px;
      }
    }
  }

  .twoParts {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: $white;
    color: $black;

    .wrapper {
      grid-column: 3 / 19;
    }

    .twoPartsContent {
      margin-top: 90px;
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      column-gap: 16px;

      @media screen and (max-width: 767px) {
        margin-top: 40px;
        display: block;
      }

      .left {
        grid-column: 1 / 9;

        h3 {
          overflow-wrap: break-word;
        }
      }

      .right {
        grid-column: 10 / 17;
        align-self: end;

        h4 {
          margin-bottom: 25px;

          @media screen and (max-width: 767px) {
            margin-top: 30px;
            margin-bottom: 20px;
          }
        }

        p {
          margin-bottom: 12px;

          @media screen and (max-width: 767px) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .twoImages {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: $white;

    .image {
      background-size: cover;
      background-position: center center;

      &:first-of-type {
        grid-column: 3 / 13;
        height: 500px;

        @media screen and (max-width: 767px) {
          height: 204px;
          margin-bottom: 10px;
        }
      }

      &:nth-of-type(2) {
        grid-column: 13 / 19;
        height: 500px;

        @media screen and (max-width: 767px) {
          height: 345px;
        }
      }
    }
  }

  .threeImages {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: $white;

    .first {
      grid-column: 3 / 19;
      background-size: cover;
      background-position: center center;
      height: 600px;
      margin-bottom: 16px;

      @media screen and (max-width: 767px) {
        height: 150px;
      }
    }

    .second {
      grid-column: 3 / 11;
      background-size: cover;
      background-position: center center;
      height: 470px;

      @media screen and (max-width: 767px) {
        height: 260px;
        margin-bottom: 10px;
      }
    }

    .third {
      grid-column: 11 / 19;
      background-size: cover;
      background-position: center center;
      height: 470px;

      @media screen and (max-width: 767px) {
        height: 260px;
      }
    }
  }

  .mediumImage {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: $white;

    .image {
      background-size: cover;
      background-position: center center;
      height: 650px;
      grid-column: 3 / 19;

      @media screen and (max-width: 767px) {
        height: 170px;
      }
    }
  }

  .fullscreenImage {
    padding-top: 60px;
    padding-bottom: 0;
    background-color: $white;

    .image {
      background-size: cover;
      background-position: center center;
      height: 100vh;
      width: 100vw;
    }
  }

  .otherProjects {
    background-color: $white;
    padding-top: 167px;
    padding-bottom: 100px;
    overflow: hidden;
    color: $black;

    @media screen and (max-width: 767px) {
      padding-top: 78px;
      padding-bottom: 78px;
    }

    .wrapper {
      grid-column: 3 / 21;

      p {
        margin-bottom: 100px;

        @media screen and (max-width: 767px) {
          margin-bottom: 55px;
          margin-left: 6vw;
        }
      }

      .nextBackground {
        position: absolute;
        z-index: 0;
        left: -50vw;
        top: 6vh;
        width: 150vw;
      }

      .projects {
        white-space: nowrap;
        height: 464px;

        @media screen and (max-width: 767px) {
          overflow-x: scroll;
          padding-left: 6vw;
        }

        .link {
          width: 365px;
          height: 464px;
          display: inline-block;
          margin-right: 16px;

          &:hover .projectImage {
            transform: translate(-50%, -50%) scale(1.05);
          }

          @media screen and (max-width: 767px) {
            width: 280px;
            height: 400px;
          }

          div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            position: relative;
          }

          .projectImage {
            width: auto;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 300ms cubic-bezier(0.785,0.135,0.150,0.860);
          }

          .title {
            position: absolute;
            left: -50px;
            bottom: -23px;
            font-size: 168px;
            line-height: 94%;
            letter-spacing: -0.026em;
            color: $white;
            font-family: 'Ogg';
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
