@import "vars";
@import "libs";
@import "fonts";

// default styles
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $white;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

.main {
  padding: 0 0 250px 0;
  background-color: $dark-red;
}

.hero {
  span {
    font-family: "Ogg";
    font-weight: 400;
    font-size: 26px;
  }
}

.ogg {
  font-family: "Ogg";
  font-weight: 400;
}

.title {
  font-size: 128px;
  font-weight: 400;
}

.pretitle {
  font-size: 40px;
  font-weight: 400;
}

.nav__link--black {
  color: $black;
}

.main {
  position: relative;
  overflow: hidden;

  .main-bg {
    position: fixed;
    user-select: none;

    font-family: "Ogg";
    font-size: 1600px;
    font-weight: 400;
    letter-spacing: -0.026em;
    color: $red;
    top: -210px;
    left: -550px;
    z-index: 1;
  }
}

.next {
  font-family: 'Ogg';
  font-size: 1000px;
  font-weight: 400;
  line-height: 90%;
  color: $black;

  position: absolute;
  user-select: none;
  bottom: -400px;
  left: -50px;
  z-index: -1;
}

.secondImage {
  transition: all 0.8s ease 0s;
}

.secondImage._active {
  transform: rotate(10deg);

}

.work__action {
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.work__action._active {
  opacity: 1;
}

.container .work__content._active ~ .header__work .header .nav ul li a {
  color: $black;
}

@import "media";

// blocks

@import "header.scss";
@import "home.scss";
@import "about.scss";
@import "work.scss";
